scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
pandas-ta==0.3.14b
alpaca-py==0.42.0
newsapi-python==0.2.7
vaderSentiment==3.3.2
fredapi==0.5.1
python-dotenv==1.0.1
setuptools<81
requests==2.32.3
supabase==2.6.0
joblib==1.4.2

